$icon-font-path: '../fonts/';

// bower:scss
// endbower

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.app__name {
  font-size: 3.6rem;
  font-weight: 400;
  margin: 0;
}

.app__tagline {
  font-size: 1.3rem;
  font-weight: 400;
  opacity: 0.8;
  margin: 0;
  padding: 0;
}

.app__logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.app__download {
  height: 60px;
  cursor: pointer;
  margin-top: 50px;
}

.app__mockup {
  width: 300px;
  height: 614px;
  position: relative;
  img {
    width: 100%;
  }
}

.flexslider__container {
  position: absolute;
  top: 75px;
  left: 19.5px;
  width: 260px;
  height: 461px;
  overflow: hidden;
}

.flexslider {
  border: none;
}

.landing {
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: 'row';
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .content {
    align-self: flex-end;
    margin-right: 80px;
  }
  .app__mockup {
    align-self: flex-start;
    margin-left: 80px;
  }
}

.content {
  text-align: center;
  align-self: center;
  width: 300px;
  color: #F8F8F8;
}
